@import "tailwindcss";

@theme {
    --default-font-family: "Oswald", san-serif;

    --color-sunset-orange: #eb7336;
    --color-sunset-pink: #82526c;
    --color-sunset-purple: #1f2340;

    --font-clock: "Bebas Neue", sans-serif;
    --font-date: "Moulpali", sans-serif;
}
