package components

templ clock() {
	<div class="flex flex-col content-between min-w-[690px]">
		<div class="font-date text-8xl">
			Wed Aug 30
		</div>
		<div class="font-clock text-[24rem] leading-[24rem]">
			07:06
		</div>
	</div>
}
