package components

var homeClasses = []string{
	"flex",
	"h-screen",
	"w-screen",
	"p-6",
	"gap-16",
	"bg-linear-to-t from-[#150d0d] via-[#000000] via-60% to-[#000000] to-100%",
	"transition-[background-color,--tw-gradient-to-position,--tw-gradient-via-position,--tw-gradient-from,--tw-gradient-via,--tw-gradient-to]",
	"duration-15000",
}

templ home() {
	<div id="home" class={ homeClasses }>
		@clock()
		@carousel()
	</div>
	<script>
		initHome();
	</script>
}
