package components

templ weather_current() {
	<div class="flex-1 flex flex-row gap-4 justify-center items-center">
		<img src="/assets/icons/weather/clear-day.svg" class="h-96"/>
		<span class="text-[18rem] leading-[18rem]">76°</span>
		<img src="/assets/icons/weather/pressure-low.svg" class="h-48 -ml-44 mt-40"/>
	</div>
}
