package components

templ weather_forecast() {
	<div class="flex-1 flex flex-col">
		<div class="flex-1 flex flex-row gap-4 justify-center items-center">
			<img src="/assets/icons/weather/clear-day.svg" class="h-96"/>
			<span class="text-[15rem]">80<span class="text-9xl">°F</span></span>
			<span class="text-9xl ml-8">{ "@" }</span>
			<span class="text-[15rem]">2</span>
		</div>
	</div>
}
