package components

templ weather_precipitation() {
	<div class="flex-1 flex flex-row justify-center items-center">
		<img src="/assets/icons/weather/snow.svg" class="h-96"/>
		<span class="grow text-[9rem] leading-[9rem]">Snow <span class="text-[9rem]">possible</span></span>
		<span class="text-8xl ml-8">{ "@" }</span>
		<span class="text-[10rem]">3</span>
	</div>
}
