package components

templ weather_current() {
	<div class="flex-1 flex flex-row gap-4 justify-center items-center">
		<img src="/assets/icons/weather/clear-day.svg" class="h-96"/>
		<span class="text-[15rem]">76<span class="text-9xl">°F</span></span>
	</div>
}
