package components

templ weather_precipitation() {
	<div class="flex-1 flex flex-row justify-center items-stretch">
		<img src="/assets/icons/weather/snow.svg" class="h-96"/>
		<div class="flex flex-col flex-1">
			<span class="text-[8rem] text-center">12<span class="text-[5rem]">PM</span></span>
			<span class="grow text-[9rem] leading-[9rem]">100<span class="text-[6rem]">%</span> Sleet</span>
		</div>
	</div>
}
