package weather

import "github.com/andythigpen/clock2/pkg/models/view"

templ WeatherCurrent(model view.WeatherCurrentView) {
	<div class="flex-1 flex flex-row gap-4 justify-center items-center">
		<img src={ model.IconSrc } class="h-96"/>
		<span class="text-[18rem] leading-[18rem]">{ model.Temperature }°</span>
		if model.DisplayDirection {
			<img src={ model.TemperatureDirectionIcon } class="h-48 -ml-44 mt-40"/>
		}
	</div>
}
