package weather

import "github.com/andythigpen/clock2/pkg/models/view"

templ Sun(model view.SunView) {
	<div class="flex-1 flex flex-row gap-6 justify-center items-center">
		<div class="grow"></div>
		<img src={ model.Icon } class="h-96"/>
		<div class="flex flex-col flex-1">
			<div class="text-[6rem] leading-[5rem] mt-[1rem]">{ model.SunDirection }</div>
			<div class="text-[10rem]">{ model.Time }</div>
		</div>
		<div class="grow"></div>
	</div>
}
