[Unit]
Description=Clock
After=network.target

[Service]
Restart=on-failure
User=pi
ExecStart=/home/pi/clock2/bin/clock
WorkingDirectory=/home/pi/clock2

[Install]
WantedBy=multi-user.target
